<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            
   <table class="table text-white">
     <tbody>
      <% @comments.each do |comment| %>
        <tr>
           <td><%= comment.user.name %></td>
           <td><%= simple_format(comment.comment.truncate(100), class: 'm-0') %></td>
           <td><%= comment.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
           <td><%= comment.content.title %></td>
          <td><%= link_to "削除", admin_comment_path(comment.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>