<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h4 class="p-2 text-center" style="background-color: #505d6b"><%= @content.title %></h4>
            
            <div class="content" style="background-color: #2f3436">
                <%= simple_format(@content.text) %>
            </div>
            
            <% if @content.user == current_user %>
                <%= link_to "編集", edit_content_path(@content.id), class: "btn btn-sm btn-success" %>
                <%= link_to "削除", content_path(@content.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
            <% end %>
            
            <div class="row my-3" style="background-color: #505d6b">
                <div class="col-md-6">
                    <h5>投稿者: <%= link_to @content.user.name, user_path(@content.user) %></h5>
                </div>
                <div class="col-md-6">
                    <% if display_follow_bottun?(current_user,@content.user) %>
                    <% if current_user.following?(@content.user) %>
                     <%= link_to 'フォロー外す', user_relationships_path(@content.user.id), method: :delete, class: "btn btn-default" %>
                    <% else %>
                      <%= link_to 'フォローする', user_relationships_path(@content.user.id), method: :POST , class: "btn btn-primary"%>
                      <% end %>
                   <% end %>
                </div>
            </div>
            
            <div class="author-comment" style="background-color: #4a4a4a">
                <%= simple_format(@content.user_comment) %>
            </div>
            
            <div class="row" style="background-color: #505d6b">
                <div class="col-md-6">
                    <% if @content.favorited_by?(current_user) %>
                        <%= link_to content_favorites_path(@content), method: :delete, remote: true do %>
                            ♥<%= @content.favorites.count %> いいね
                        <% end %>
                    <% else %>
                        <%= link_to content_favorites_path(@content), method: :post, remote: true do %>
                            ♡<%= @content.favorites.count %> いいね
                        <% end %>
                    <% end %>
                </div>
                <div id="bookmark_button_<%= @content.id %>" class="col-md-6">
                    <%= render partial: 'bookmarks/button', locals: {content: @content} %>
                </div>
            </div>
            
            <div class="comment-area mt-3" style="background-color: #4a4a4a">
                コメントの件数:
                <span class="comment-count">
                    <%= @content.comments.count %>
                </span>
                <hr class="hr">
                <% @content.comments.each do |comment| %>
                    <div>
                        <h6 class="d-inline-block"><%= comment.user.name %></h6>
                        <small><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></small>
                    </div>
                    <%= simple_format(comment.comment) %>
                <% end %>
                <hr class="hr">
                <%= form_with model: [@content, @comment] do |f| %>
                    <div class="form-group">
                        <%= f.text_area :comment, class: 'form-control', rows: '3', placeholder: "コメントをここに" %>
                    </div>
                    <div class="form-group">
                        <%= f.submit "送信する", class: 'btn btn-primary' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>