<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
        
    <% if @contents.count > 0 %>  
    <div class="row">
    <% @contents.each do |content| %>
        <div class='col-md-6 mb-2'>
        <%#= link_to content %>
            <div class="border p-3" style="background-color: #505d6b">
                <h5><%= link_to content.title, content_path(content) %></h5>
                <%= simple_format(content.text.truncate(100), class: 'm-0') %>
                <i class="fas fa-tag"><%= content.tags.map(&:tag).join(', ') %></i>
                <div>
                    <h4 class="d-inline-block">
                        <%= content.user.name %>
                    </h4>
                    <small>
                        <%= content.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
                    </small>
                </div>
                <div class="mt-3">
                    <span class="badge badge-pill badge-dark mr-2">
                      <i class="fa-solid fa-comment fa-2x"></i>
                      <%= content.comments.count %>
                    </span>
                
                    <span class="badge badge-pill badge-dark">
                      <i class="fa-solid fa-ghost fa-2x"></i>
                     <%= content.favorites.count %>
                    </span>
                </div>
            </div>
        </div>
    <% end %>
    </div>
    <% else %>
  <p>なにもブックマークしていません</p>
    <% end %>

    </div>
  </div>
</div>