<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">

   <table class="table text-white">
     <tbody>
      <% @questions_comments.each do |questions_comment| %>
        <tr>
           <td><%= questions_comment.user.name %></td>
           <td><%= simple_format(questions_comment.comment.truncate(100), class: 'm-0') %></td>
           <td><%= questions_comment.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
           <td><%= link_to questions_comment.question.title, question_path(questions_comment.question_id) %></td>
          <td><%= link_to "削除", question_path(@question.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>