<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">

   <table class="table text-white">
     <tbody>
      <% @contents.each do |content| %>
        <tr>
           <td><%= content.title %></td>
           <td><%= simple_format(content.text.truncate(100), class: 'm-0') %></td>
           <td><%= content.user.name %></td>
           <td><%= content.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= link_to "削除", content_path(content.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>