<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>あの話</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <a class="navbar-brand" href="/home/about"><span>about</span></a>
       
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user),class: 'nav-link text-light' do %>
              <i class="fas fa-home"></i> Mypage
            <% end %>
          </li>
          <li>
            <%=  link_to contents_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-book-open"></i> 怪談
            <% end %>
          </li>
          <li>
            <%= link_to questions_path, class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> 質問掲示板
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> log out
            <% end %>
          </li>
          
          <% elsif admin_signed_in?%>
          <li>
            <%= link_to admin_users_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> ユーザー
            <% end %>
          </li>
          <li>
            <%=  link_to admin_contents_path,class: 'nav-link text-light' do %>
              <i class="fas fa-book-open"></i> 怪談
            <% end %>
          </li>
          <li>
            <%= link_to admin_comments_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> コメント
            <% end %>
          </li>
          <li>
            <%= link_to admin_questions_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> 質問掲示板
            <% end %>
          </li>

          <li>
            <%= link_to admin_questions_comments_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 質問コメント
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> log out
            <% end %>
          </li>
          
        <% else %>
          <li>
            <%=  link_to contents_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-book-open"></i> 怪談
            <% end %>
          </li>
          <li>
            <%= link_to questions_path,class: 'nav-link text-light' do %>
              <i class="fas fa-link"></i> 質問掲示板
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> signup
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> login
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>